treechildren::-moz-tree-image(modules_task_usertask){
	list-style-image: url(/changeicons/small/task.png) ;
}
treechildren::-moz-tree-image(modules_task_plannedtask){
	list-style-image: url(/changeicons/small/plannedtask.png) ;
}
wdialog[template="ValidateComment"] .dialog-header{
	background: url(/changeicons/small/check.png) transparent center  left no-repeat!important;
}
