[anonid="commentary"]{
	margin-bottom: 2px;
}
.document-box-title,.document-box-synchro-checkbox{
	height: 20px;
	margin: 0px;
	padding-left: 15px;
	background: black;
	font-weight: bold;
	color: white;
}
.document-box-title{
	height: 20px;
}
[span="high"].document-box-title{
	height: 50px;
}
.document-box-synchro-checkbox{
	height: 29px;
}
.document-box-synchro-checkbox checkbox{
	margin: 0 3px;
}
scrollbox{
	overflow: auto;
}
row[differs="true"]>:first-child{
	color: #f00;
}
grid.preview column:first-child{
	background: silver;
}
grid.preview row>label:first-child{
	font-weight: bold;
}
grid.preview row{
	border-bottom: 1px solid silver;
}