<div class="dashboard-widget" tal:omit-tag="refresh" refreshURL="${refreshURL}" title="${title}" icon="${icon}" hideGotoModule="${hideGotoModule}">
	<tal:block tal:condition="forEdition">
		<div class="title-bar" ><img src="${icon}" /> ${title}</div>
		<div class="content-block"><div class="content">${transui:m.dashboard.dashboard.dummycontent,ucf}</div></div>
	</tal:block>
	<tal:block tal:condition="not:forEdition">
		<tal:block tal:condition="errorTasks">
			<h2>${transui:m.task.bo.dashboard.error-task-title,ucf}</h2>
			<p>${transui:m.task.bo.dashboard.error-task-description,hours=timeToSuspectError,ucf}</p>
			<table class="error-tasks">
				<thead>
					<tr>
						<th />
						<th>${transui:m.task.bo.dashboard.task-label,ucf}</th>
						<th>${transui:m.task.bo.dashboard.is-running,ucf}</th>
						<th>${transui:m.task.bo.dashboard.last-run-date,ucf}</th>
						<th>${transui:m.task.bo.dashboard.next-run-date,ucf}</th>
					</tr>
				</thead>
				<tbody>
					<tr tal:repeat="task errorTasks">
						<td>${repeat/task/number}</td>
						<td>${task/getLabelAsHtml} <a onclick="openActionUri('task,locateDocument,${task/getPersistentModel/getBackofficeName},${task/getId}');" title="${transui:m.task.bo.dashboard.locate-in-module,ucf}" class="contextual-action"><img change:icon="search/small" /></a></td>
						<td>${task/getIsrunningLabel}</td>
						<td>${datetime:task/getUILastrundate}</td>
						<td>${datetime:task/getUINextrundate}</td>
					</tr>
				</tbody>
			</table>
		</tal:block>
		<h2>${transui:m.task.bo.dashboard.monitored-task-title,ucf}</h2>
		<p>${transui:m.task.bo.dashboard.monitored-task-description,ucf}</p>
		<table class="monitored-tasks">
			<thead>
				<tr>
					<th />
					<th>${transui:m.task.bo.dashboard.task-label,ucf}</th>
					<th>${transui:m.task.bo.dashboard.is-running,ucf}</th>
					<th>${transui:m.task.bo.dashboard.last-run-date,ucf}</th>
					<th>${transui:m.task.bo.dashboard.next-run-date,ucf}</th>
				</tr>
			</thead>
			<tbody>
				<tr tal:repeat="task monitoredTasks">
					<td>${repeat/task/number}</td>
					<td>${task/getLabelAsHtml} <a onclick="openActionUri('task,locateDocument,${task/getPersistentModel/getBackofficeName},${task/getId}');" title="${transui:m.task.bo.dashboard.locate-in-module,ucf}" class="contextual-action"><img change:icon="search/small" /></a></td>
					<td>${task/getIsrunningLabel}</td>
					<td>${datetime:task/getUILastrundate}</td>
					<td>${datetime:task/getUINextrundate}</td>
				</tr>
			</tbody>
		</table>
	</tal:block>
</div>